@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Travel Blog</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.log-in').submit(function (event) {
                    event.preventDefault();
                    $.ajax({
                        url: '@Url.Action("LogIn")',
                        type: 'POST',
                        dataType: 'json',
                        data: $(this).serialize(),
                        success: function (result) {
                            var resultMessage = 'Your username is: ' + result[0] + '<br>Your password is: ' + result[1];
                            $("#pre-login").hide();
                            $("#register").hide();
                            $('#login').html(resultMessage);
                        }
                    });
                });
                $('.register').submit(function (event) {
                    event.preventDefault();
                    $.ajax({
                        url: '@Url.Action("Register")',
                        type: 'POST',
                        dataType: 'json',
                        data: $(this).serialize(),
                        success: function (result) {
                            var resultMessage = 'You are registered';
                            $(".register-inputs").val("");
                            $('#register').html(resultMessage);
                        }
                    });
                });
            });
        </script>
    </head>
    <body>
        <h1>Welcome to the Epicodus Travel Blog!</h1>
        <hr />
        @if (User.Identity.IsAuthenticated)
        {
            <p>Hello @User.Identity.Name!</p>
            @using (Html.BeginForm("LogOut", "Home"))
            {
                <input type="submit" value="Log Out" />
            }

            @Html.ActionLink("Create a Destination", "Index", "Destination")
            <br />
            @Html.ActionLink("View All Destinations", "List", "Destination")
        }
        else
        {
        <div id="pre-login">
            <form action="LogIn" class="log-in">
                <h2>Log in</h2>
                <label for="username">Username: </label>
                <input type="text" name="username" />
                <label for="password">Password: </label>
                <input type="password" name="password" />
                <button type="submit">Submit</button>
            </form>
            <form action="Register" class="register">
                <h2>Register</h2>
                <label for="username">Username: </label>
                <input type="text" name="username" class="register-inputs"/>
                <label for="password">Password: </label>
                <input type="password" name="password" class="register-inputs"/>
                <label for="confirmation">Confirm your password: </label>
                <input type="password" name="confirmation" class="register-inputs"/>
                <button type="submit">Submit</button>
            </form>
        </div>

        <div id="login"></div>
        <div id="register"></div>
        }
    </body>
</html>