@using TravelBlog.ViewModels
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register for a New Account</h1>
<hr />

@using (Html.BeginForm("Register", "Home", FormMethod.Post))
{
    @Html.LabelFor(m => m.Username)
    @Html.TextBoxFor(m => m.Username)

    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)

    @Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)

    <input type="submit" value="Register" />
}